
.navbar img {
    height: 8rem;
    width: 8rem;
}


.navIconBox .navicon {
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    color: #74d8c2;
    background-color: #1278AB;
    padding: 3rem;
}

.navIconBox .navicon:hover {
    color: #ffffff;
    background-color: #0ae418;
}

.navbar-brand {
    font-family: var(--ffPrimary);
    font-size: 3rem;
    font-weight: 700;
    color: #74d8c2;
}

.navContactBox {
    background-color: #1278AB;
    padding: 0.5rem 0.5rem;
}

.navContactBox:hover {
    background-color: #0ace21;
}