.logoimg img {
    height: 8rem;
    cursor: pointer;
}

.navBarSection {
    background-color: #2b3644;
}
.navicon a {
    font-size: 3rem;
    font-weight: 700;
    color: #74d8c2;
    font-family: var( --ffPrimary);
}
.navicon a:hover {
    font-size: 3rem;
    font-weight: 700;
    color: #0ae418;
}

.navIconBox .navicon {
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    color: #74d8c2;
    background-color: #1278AB;
    padding: 3rem;
    cursor: pointer;
}

.navIconBox .navicon:hover {
    color: #ffffff;
    background-color: #0ae418;
}

.navlink a {
    font-weight: 800;
    color: #74d8c2;
    font-family: var(--Primary);
    font-size: 1.6rem;
    margin: 0rem 1rem;
}

.navlink a:hover {
    color: #0ae418;

}

.contact button {
    font-size: 1.6rem;
    background-color: #1278AB;
    color: #ffffff;
    font-weight: 800;
}

.contact button:hover {
    background-color: #0ae418;

}